p#mc_embed_signup
  form#mc-embedded-subscribe-form.validate(
    action='https://diagonal.us20.list-manage.com/subscribe/post?u=32aa35026c65440ab80f4fe4c&amp;id=cb205b7361'
    method='post'
    name='mc-embedded-subscribe-form'
    target='_blank'
    novalidate='')
    #mc_embed_signup_scroll
      .mc-field-group
        input#mce-EMAIL.required.email.button-reset.pa2.bg-black-05.b--solid.ba.b05.b--black-30.br1.mv2.w5(
          type='email'
          value=''
          placeholder="Enter your email"
          name='EMAIL')
      #mce-responses.clear
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')
      div(style='position: absolute; left: -5000px;', aria-hidden='true')
        input(type='text', name='b_32aa35026c65440ab80f4fe4c_cb205b7361', tabindex='-1', value='')
      .clear
        input.br0.b--none.hover-bg-red.input-reset.pointer.bg-black.white.pv2.ph3.mv2#mc-embedded-subscribe.button(
          type='submit'
          value='Subscribe'
          name='subscribe')